
@model List<NetCoreAI.Project02_ApiConsumeUI.Dtos.ResultCustomerDto>
@{
    ViewData["Title"] = "CustomerList";
}

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Müşteri Adı Soyadı</th>
            <th>Bakiye</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            
        }
    </table>
</div>

<h1>CustomerList</h1>

